$enable-button-block-styles:            true !default;

@if $enable-button-block-styles == true {

    /* Button Block */
    .wp-block-button {

        &.is-style-squared {
            --theme-button-border-radius: 0;
        }

        &.is-style-outline {
            --theme-button-background-color: transparent;
            --theme-button-text-color: currentColor;
            --theme-button-border-color: currentColor;

            --theme-button-hover-background-color: transparent;
            --theme-button-hover-text-color: currentColor;
            --theme-button-hover-border-color: currentColor;
        }

        @each $alignment in left, center, right {
            &.align#{$alignment} {
                text-align: #{$alignment};
            }
        }
    }

    .wp-block-button__link {
        display: inline-block;
        @include button-base;
        @include button-box;
        @include apply-font(button);

        &:not(.has-text-color) {
            @include button-color;
        }
    }

    .wp-block-buttons[class] {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        margin-left: calc(var(--theme-spacing) * -1);

        .block-editor-block-list__layout {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            * {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .wp-block,
        .wp-block-button {
            display: flex;
            margin-left: var(--theme-spacing);
        }

        &.aligncenter {
            justify-content: center;
        }

        &.alignleft {
            justify-content: flex-start;
        }

        &.alignright {
            justify-content: flex-end;
        }
    }
}
