@mixin quote {
    @include apply-font(heading-3);
}

@mixin quote-decorated {

    &:before {
        content: "";
        display: block;
        height: 0.1em;
        background-color: var(--current-color-primary);
        margin-bottom: var(--theme-spacing);
        max-width: 5em;
    }
}

@mixin quote__cite {
    margin-top: var(--theme-spacing);
    @include apply-font(body);
    font-style: normal;
}

.wp-block-quote,
.wp-block-pullquote {
    @include quote;

    &.has-smaller-font-size {
        @include apply-font(heading-4);
    }

    &.has-larger-font-size {
        @include apply-font(heading-2);
    }
}

.wp-block-pullquote {
    @include quote-decorated;
}

.wp-block-quote cite,
.wp-block-quote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote__citation {
    @include quote__cite;
}
