[class*="wp-block"] {
    clear: both;
}

@import "core/archives/style";
@import "core/audio/style";
@import "core/button/style";
@import "core/categories/style";
@import "core/columns/style";
@import "core/cover/style";
@import "core/embed/style";
@import "core/gallery/style";
@import "core/group/style";
@import "core/image/style";
@import "core/latest-comments/style";
@import "core/latest-posts/style";
@import "core/media-text/style";
@import "core/pullquote/style";
@import "core/quote/style";
@import "core/separator/style";
@import "core/social-links/editor";
@import "core/table/style";

// Nova
@import "nova-blocks/style";

// Nova - Media
@import "nova-blocks/media/style";
@import "nova-blocks/media/custom";

// Nova - Hero
@import "nova-blocks/hero/custom";

// Nova - Food Menu
@import "nova-blocks/food-menu/style";

// Nova - OpenTable Reservation Form
@import "nova-blocks/opentable-reservation/style";

// Nova - Slideshow
@import "nova-blocks/slideshow/style";

@import "custom";
