:root {
    --theme-header-logo-height-setting: 22;
    --theme-header-logo-height: calc( var(--theme-header-logo-height-setting) * var(--theme-customify-fluid-unit) );

    --theme-header-height-setting: 118;
    --theme-header-height: calc( var(--theme-header-height-setting) * var(--theme-customify-fluid-unit) );

    --theme-header-links-spacing-setting: 32;
    --theme-header-links-spacing: calc( var(--theme-header-links-spacing-setting) * var(--theme-customify-fluid-font-size) );

    --theme-header-sides-spacing-setting: 48;
    --theme-header-sides-spacing: calc( var(--theme-header-sides-spacing-setting) * var(--theme-customify-fluid-unit) );
}
