
// ATTENTION!
// This file shouldn't be modified. Proceed with caution!

:root {
    --theme-spacing: #{$theme-spacing-unit};

    --theme-spacing-micro:      calc( var( --theme-spacing ) / 4 );
    --theme-spacing-tiny:       calc( var( --theme-spacing ) / 2 );
    --theme-spacing-default:    calc( var( --theme-spacing ) * 1 );
    --theme-spacing-small:      calc( var( --theme-spacing ) * 2 );
    --theme-spacing-medium:     calc( var( --theme-spacing ) * 3 );
    --theme-spacing-large:      calc( var( --theme-spacing ) * 4 );
    --theme-spacing-xl:         calc( var( --theme-spacing ) * 5 );
    --theme-spacing-xxl:        calc( var( --theme-spacing ) * 8 );

    @include fluid(--theme-spacing-fluid, $theme-font-size-minimum-value-breakpoint-em, $theme-spacing-unit-fluid-minimum, $theme-font-size-breakpoint-em, $theme-spacing-unit );

    --theme-spacing-fluid-micro:    calc( var( --theme-spacing-fluid ) / 4 );
    --theme-spacing-fluid-tiny:     calc( var( --theme-spacing-fluid ) / 2 );
    --theme-spacing-fluid-default:  calc( var( --theme-spacing-fluid ) * 1 );
    --theme-spacing-fluid-small:    calc( var( --theme-spacing-fluid ) * 2 );
    --theme-spacing-fluid-medium:   calc( var( --theme-spacing-fluid ) * 3 );
    --theme-spacing-fluid-large:    calc( var( --theme-spacing-fluid ) * 4 );
    --theme-spacing-fluid-xl:       calc( var( --theme-spacing-fluid ) * 5 );
    --theme-spacing-fluid-xxl:      calc( var( --theme-spacing-fluid ) * 8 );
}
