$enable-image-block-styles:             true !default;

@if $enable-image-block-styles == true {
    /* Image Block */
    .wp-block-image {
        @include space-children-y( var(--theme-sacing-micro) );

        img {
            display: block;

            // force images to fill their container
            // because Safari doesn't download new images from the srcset when the browser is resized
            width: 100%;
            height: auto;
        }
    }
}