// hack to contain negative margin-top of .novablocks-media__layout
.novablocks-media > .wp-block-group__inner-container {
    padding-top: 1px;
}

.novablocks-media__content {
    max-width: 100%;
    @include apply-font(body);

    &[class] {
        flex-basis: calc(50% - var(--novablocks-media-spacing));
    }
}

.novablocks-media__aside {

    &[class] {
        // 0.5px to help Edge resolve the calc
        flex-basis: calc(50% + var(--novablocks-media-spacing) - 0.5px);
    }

    .novablocks-media:not(.novablocks-media--no-thumbnail) & {
        min-height: 15em;
    }
}

.novablocks-media__image {

    svg {
        @include image-cover;
        object-fit: contain;
    }
}

.novablocks-block__content {

    @include above(tablet) {
        --novablocks-block-content-padding: var(--novablocks-spacing);
    }
}

.novablocks-media--blog[class] {
    --novablocks-block-content-box-shadow: none;
    --novablocks-block-background-color: var(--current-light-tertiary);

    .novablocks-media__image {
        height: 100%;
        min-height: 400px;
    }

    .novablocks-media__aside {
        order: 0;
    }

    &.has-image-on-the-left .novablocks-media__layout {
        flex-direction: row-reverse;
    }
}
