$purple: #9562C6;
$gray: #71777c;
$gray-light: #CCCCCC;

@mixin pxg-mark {
  transform: rotate(-135deg);

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 2px;
    height: 9px;
    margin-left: -3px;
    margin-top: -4px;
    background-color: currentColor;
  }

  &:after {
    width: 6px;
    height: 2px;
  }
}

.pixassist-notice {

  *, :before, :after {
    box-sizing: border-box;
  }
}

.pixassist-notice[class] {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 14px;
  line-height: 1.5;

  p {
    font: inherit;
    padding: 0;
  }

  h2 {
    font-size: 18px;
    line-height: 1.32;
    padding: 0;
    margin-top: 0;
    margin-bottom: 6px;
  }

  .wp-core-ui & {
    @media screen and (max-width: 782px) {
      padding-right: 0;
    }
  }
}

$pixassist-notice-spacing: 20px;
$pixassist-notice-mobile-spacing: 10px;

.pixassist-notice__screenshot {
  width: 20%;
  height: auto;
  max-width: 160px;
  display: inline-block;
  vertical-align: top;

  border: 1px solid #DFE8EF;

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.pixassist-notice__body {
  max-width: 780px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 40px;

  @media only screen and (max-width: 1024px) {
    max-width: 100%;
  }
}

.pixassist-notice-button {
  position: relative;
  overflow: hidden;

  // Icons
  &.button:before {
    margin: 0px 5px -1px -6px;
    color: white;
  }

  &.button.updated-message:before {
    content: "\f12a";
  }


  &:active {
    transform: perspective(1px) translateY(2px) translateZ(0);
    transition-duration: .05s;
    box-shadow: none;
  }

  &.state--error {
    background-color: #E3004A;
    border-color: #a00;
    text-shadow: none;

    &:hover {
      background-color: #c10240;
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  + .button {
    margin-left: 5px;
  }
}

.wp-core-ui {
  .pixassist-notice-button {
    &, & + .button {
      line-height: 1.5;
      text-align: center;
      height: auto;

      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 16px;
      padding-right: 16px;

      margin-top: 5px;

      white-space: normal;

      @media screen and (max-width: 782px) {
        width: 100%;
        margin: 0;
        margin-top: 10px;
      }
    }
  }

  .button-primary {
    &.state--plugin-installing {
      cursor: wait !important;
      color: #fff !important;
      text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799 !important;
    }
  }
}

.notice {
  display: none;
}


.state--plugin-invalidated {

  &[class] {
    animation: shake 0.8s .1s cubic-bezier(.36,.07,.19,.97) both;
  }

}

@keyframes shake {
  10%, 90% { transform: translate3d(-1px, 0, 0); }
  20%, 80% { transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
  40%, 60% { transform: translate3d(4px, 0, 0); }
}
