@mixin breadcrumbs( $separator: '\00b7' ) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-left: 0;
    list-style: none;

    > :not(:last-child):after {
        content: $separator;
        padding: 0 var(--theme-spacing-tiny);
    }
}