@mixin flex-grid($gap: var(--block-grid-spacing)) {
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-grid-count($number, $gap: var(--block-grid-spacing)) {
    > * {
        @include flex-grid-item($gap);
        @include flex-grid-item-count($number);
    }
}

@mixin flex-grid-item($gap: var(--block-grid-spacing)) {
    flex: 0 1 auto;

    margin-right: $gap;
    margin-top: $gap;

    &:last-child {
        margin-right: 0;
    }
}

@mixin flex-grid-item-count($number, $gap: var(--block-grid-spacing)) {
    width: calc((100% - #{$number - 1} * #{$gap})/#{$number});

    &:nth-child(-n + #{$number}) {
        margin-top: 0;
    }

    &:nth-child(#{$number}n) {
        margin-right: 0;
    }
}
