@mixin wrapper-sides-spacing {
    --theme-wrapper-sides-spacing: var(--theme-spacing-fluid-medium);

    padding-left: var(--theme-wrapper-sides-spacing);
    padding-right: var(--theme-wrapper-sides-spacing);

    > .alignfull {
        margin-left: calc( -1 * var(--theme-wrapper-sides-spacing) );
        margin-right: calc( -1 * var(--theme-wrapper-sides-spacing) );
    }
}

@mixin wrapper {
    @include wrapper-sides-spacing;

    > * {
        margin-left: auto;
        margin-right: auto;
    }

    > :not(.alignwide):not(.alignfull) {
        max-width: var(--theme-content-width-normal);
    }

    > .alignwide {
        max-width: var(--theme-content-width-wide);
    }

    > .alignfull {
        max-width: none;
    }
}
