.entry-header {
    @include wrapper;

    padding-top: var(--theme-spacing-fluid-xl);
    padding-bottom: var(--theme-spacing-fluid-xl);
    text-align: center;
}

.entry-title {
    word-break: break-word;
}
