.wp-block,
.entry-content > *,
.wp-block-column > *,
[class*="__inner-container"] > * {
    @include element-spacing;
    margin-top: var(--element-spacing);
    margin-bottom: calc( var(--block-bottom-spacing, 1) * var(--theme-spacing-fluid-small) * var(--novablocks-element-spacing-multiplier, 1) );
}

.novablocks-media,
.novablocks-hero,
.novablocks-slideshow,
.novablocks-map.alignfull,
.novablocks-collection {

    & + &[class] {
        --novablocks-element-spacing-multiplier: 0;
    }
}

.novablocks-media--blog[class][class][class] {
    --block-top-spacing: 2;
    --block-bottom-spacing: 2;

    &:first-child {
        --block-top-spacing: 0;
    }
}

.wp-block-column,
[class*="__inner-container"] {

    > :not(:first-child) {
        --novablocks-element-spacing-multiplier: 0.5;
    }
}

