$label-bg-color: #00CAB6;
$label-border-radius: 8px;
$label-font-size: 14px;

$button-bg-color: #8E65C0;

/* Label for Viw Pro Customizer Section */

[id*="pro__section"] {
  .accordion-section-title:before {
    position: absolute;
    right: 30px;

    content: "pro";
    display: inline-block;
    margin-right: 5px;
    padding: 4px 12px;
    border-radius: $label-border-radius;

    font-size: $label-font-size;
    font-weight: 300;
    line-height: 1;

    background-color: $label-bg-color;
    color: #ffffff;
    text-transform: capitalize;
  }
}

/* Styling for buttons */
#sub-accordion-section-pro__section {
  .upsell-container {
    .button-primary {
      width: 100%;
      cursor: pointer;
      transition-duration: .2s;
      transition-timing-function: cubic-bezier(0, 0, .58, 1);
      transition-property: transform, background, background-color, color, box-shadow, -webkit-transform;
      border: 0;
      text-align: center;
      font-weight: 500;
      background-color: $button-bg-color;
      border-radius: 4px;
      box-shadow: 0 0 1px transparent;
      transform: perspective(1px) translateZ(0);
      font-size: 16px;
      padding: 10px 16px 10px;
      height: auto;
      text-shadow: none;

      &:hover,
      &:focus {
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .7);
        transform: scale(1.05) translateY(-3px);

        // We need to do this to overwrite WordPress default blue for buttons
        background-color: $button-bg-color;
      }
    }
  }
}

.customize-section-description .upsell-container li {
  list-style: none;
}

/*Label for pro features*/

.upsell-features h4:before {
  content: "pro";
  display: inline-block;
  margin-right: 5px;
  padding: 4px 12px;
  border-radius: $label-border-radius;

  font-size: $label-font-size;
  font-weight: 300;
  line-height: 1;

  background-color: $label-bg-color;
  color: #ffffff;
  text-transform: capitalize;
}

