// Forms General Options

// @todo more semantic for these variables
$color-dark: var(--current-dark-secondary) !default;
$color-white: var(--current-light-primary) !default;

$input-color: var(--current-dark-secondary) !default;
$input-border-color: var(--current-light-tertiary) !default;
$input-border-width: .0625em !default;
$input-background-color: var(--current-light-tertiary) !default;
$input-padding: .8em 1.18em .93em !default;
$input-focus-border-color: var(--current-dark-primary) !default;
$input-focus-background-color: var(--current-light-primary) !default;
$input-border-radius: 0 !default;
$input-disabled-color: var(--current-dark-secondary) !default;
$input-disabled-background-color: var(--current-dark-secondary) !default;
$input-disabled-border-color: var(--current-dark-secondary) !default;

$placeholder-color: var(--current-dark-secondary) !default;

$label-color: var(--current-dark-secondary) !default;

$legend-color: var(--current-dark-secondary) !default;

$button-color: var(--current-light-primary) !default;
$button-background-color: var(--current-dark-secondary) !default;

$checkbox-color: var(--current-dark-secondary) !default;
$checkbox-background-color: var(--current-light-primary) !default;
$checkbox-width: 1.5rem !default;
$checkbox-height: 1.5rem !default;

// Spacing
$input-vertical-spacing: var(--theme-spacing-tiny) !default;
$input-horizontal-spacing: var(--theme-spacing-tiny) !default; // Checkboxes and Radios

@mixin field {
    width: 100%;
    height: auto;
    max-width: 100%;
    padding: $input-padding;
    border: $input-border-width solid $input-border-color;

    color: $input-color;
    border-radius: $input-border-radius;
    background-color: $input-background-color;

    font: inherit;
    line-height: 1.5;
    -webkit-font-smoothing: initial;
    -webkit-appearance: none;

    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
        border-color: $input-focus-border-color;
    }

    &[disabled] {
        border-color: $input-disabled-border-color;
        background-color: $input-disabled-background-color;
    }
}


@mixin input {
    @include field;
}

@mixin textarea {
    @include field;

    min-height: 7.5em;
    resize: vertical;
}

@mixin select {
    @include field;

    padding-right: 3.125em;

    background-color: var(--current-light-tertiary);
    background-image: url("assets/images/arrow-caret.svg");
    background-position: calc(100% - 17px) center;
    background-repeat: no-repeat;
    background-size: .56em .312em;

    -webkit-appearance: none;
}

@mixin label {
    color: $label-color;
    font: inherit;
    margin: 0;

    &:not(:first-child) {
        margin-top: $input-vertical-spacing;
    }

    &:not(:last-child) {
        margin-bottom: $input-vertical-spacing;
    }

    cursor: pointer;
}

@mixin checkbox-base {
    position: relative;
    left: 0;

    float: left;
    clear: left;

    border: $input-border-width solid $input-border-color;
    border-radius: $input-border-radius;

    width: $checkbox-width !important;
    height: $checkbox-height !important;
    margin-right: $input-horizontal-spacing;
    margin-bottom: $input-vertical-spacing;

    background-color: $color-white;
    cursor: pointer;

    -webkit-appearance: none;
}

@mixin checkbox {
    @include checkbox-base;

    &:checked {
        border-color: $checkbox-color;
        background: $checkbox-background-color url('assets/images/checkbox.svg') center center no-repeat;
        background-size: 100% 100%;
        outline: 0;
    }
}

@mixin radio {
    @include checkbox-base;
    border-radius: 50%;

    &:checked {
        border: .43em solid $checkbox-color;
        outline: 0;
    }
}

@include placeholder() {
    color: $placeholder-color;
    opacity: .6;
    font-style: italic;
}

input {
    &[type="text"],
    &[type="tel"],
    &[type="number"],
    &[type="date"],
    &[type="email"],
    &[type="password"],
    &[type="url"],
    &[type="search"] {
        @include input;
    }
}

input[type="checkbox"] {
    @include checkbox;

}

input[type="radio"] {
    @include radio;
}

input[type="submit"],
input[type="button"],
button[type="submit"],
button[type="reset"] {
    @include button;
    @include button-fill(false);
}

input[type="file"] {
    width: 100%;
}

input[type="file"]::-webkit-file-upload-button {
    display: block;
    margin-bottom: 0 !important;
    padding: .75em 1.75em;
    border: 0 solid transparent;
    border-right-width: 1em;
    background-clip: padding-box;
    overflow: visible;

    font-weight: 600;
    text-align: center;

    color: $button-color;
    background-color: $button-background-color;

    vertical-align: middle;
    cursor: pointer;

    &:focus, &:active {
        outline: 0;
        box-shadow: none;
        background-color: $button-background-color;
    }

    &:hover {
        background-color: $color-dark;
    }
}

input.disabled,
input[disabled="disabled"],
input[disabled] {
    background: $input-disabled-background-color;
    border-color: $input-disabled-border-color;
}

textarea {
    @include textarea;
}

select {
    @include select;

    &[multiple] {
        background: none;
        padding-right: .8125em;
    }
}

fieldset {
    border: 0;

    legend {
        color: $legend-color;
        padding: 0 !important;
    }

    > div {
        margin-top: $input-vertical-spacing;
    }
}

// Helper Classes for Humans & Nature
// <div class="form-inline">  <input> <input type="submit">  </div>
.form-inline {
    display: flex;

    input[type="submit"],
    input[type="button"],
    button[type="submit"],
    button[type="reset"] {
        flex-shrink: 0;
        margin-top: 0;
    }
}

.select2-container--default .select2-selection--single {
    border: 0;
    border-radius: $input-border-radius;
    height: auto;

    .select2-selection__rendered {
        padding: $input-padding;
        color: $input-color;

        background-color: $input-background-color;
    }

    .select2-selection__placeholder {
        display: block;
    }

    .select2-selection__arrow {
        top: 50%;
        right: 1.18em;
        transform: translate(50%, -50%);
    }
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: $input-border-color;
}

.select2-dropdown {
    background-color: $input-background-color;

    .select2-search__field {
        background-color: var(--current-light-secondary);
    }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: var(--current-color-primary);
    color: var(--current-dark-primary);
}
