/* Tables */
table {
  width: 100%;
  float: none;
  border-collapse: collapse;

  margin-bottom: 2em;

  th {
    text-align: left;
  }

  th,
  td {
    vertical-align: middle;
  }

  tr,
  thead,
  tbody,
  tfoot {
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  th,
  td {
    padding: .5em;
    max-width:100%;
    white-space:nowrap;
  }

  caption {
    padding: 5em 0;
  }

  th,
  td {

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
