.ot-dtp-picker {
  &.wide {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {

        --theme-button-hover-background-color: var(--current-light-primary);
        --theme-button-hover-text-color: var(--current-dark-primary);
        --theme-button-background-color: var(--current-dark-primary);
        --theme-button-border-color: var(--current-dark-primary);
        --theme-button-text-color: var(--current-light-primary);

        @include button-fill;
        @include button-transition;

        color: var(--current-button-text-color);

        &:hover {
          color: var(--current-button-hover-text-color);
        }
      }
    }
  }

  &.standard {
    .ot-dtp-picker-form {
      .ot-dtp-picker-button {

        --theme-button-hover-background-color: var(--current-dark-primary);
        --theme-button-hover-text-color: var(--current-light-primary);
        --theme-button-background-color: var(--current-light-primary);
        --theme-button-border-color: var(--current-light-primary);
        --theme-button-hover-border-color: var(--current-light-primary);
        --theme-button-text-color: var(--current-dark-primary);

        @include button-fill;
        @include button-transition;

        color: var(--current-button-text-color);

        &:hover {
          color: var(--current-button-hover-text-color);
        }
      }
    }
  }
}


.novablocks-opentable {
  &.novablocks-opentable__wide[class] {
    .ot-dtp-picker-selector[class][class] {
      border-color: var(--current-dark-secondary);

      .ot-dtp-picker-selector-link {
        color: var(--current-dark-secondary);

        &:before {
          color: currentColor;
        }

        &:after {
          color: currentColor;
        }
      }
    }
    .ot-dtp-picker-form:after {
      clear: both;
      content: "";
      display: block;
    }
  }

  &.novablocks-opentable__standard[class] {
    padding: var(--theme-spacing-fluid-small);

    .ot-party-size-picker {
      margin-bottom: var(--theme-spacing-medium);
    }
  }

  /* body.supports-mutation-observer */
  transition: var(--theme-transition);
  transition-property: opacity;

  &:not(.is-loaded) {
    opacity: 0;
  }
}


.ot-dtp-picker-selector-link {
  text-decoration: none;
}

.is-dark-mode {
  .novablocks-opentable {
    &.novablocks-opentable__standard[class] {
      .ot-powered-by {
        -webkit-filter: unset;
        mix-blend-mode: unset;
      }
    }

    &.novablocks-opentable__wide[class] {
      .ot-powered-by {
        -webkit-filter: invert(1) saturate(0);
        mix-blend-mode: lighten;
      }
    }
  }
}
