.novablocks-hero__inner-container {

    > .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > .c-headline + .c-headline {
        .c-headline__primary,
        .c-headline__secondary {
            opacity: 1;
        }
    }

    > :not(.c-headline) {
        opacity: 1;
    }

    .c-separator__symbol {
        color: var(--current-color-primary);
    }
}

.novablocks-hero {
    .novablocks-u-content-padding {
        @include below(tablet) {
            padding-top: var(--theme-spacing-xxl);
            padding-bottom: var(--theme-spacing-xxl);
        }
    }
}

.novablocks-hero .novablocks-u-content-align {
    position: static;
}

.novablocks-hero__indicator {
    width: 160px;
    height: 50px;
    color: var(--theme-light-primary);

    z-index: 1;

    &:after {
        color: var(--theme-dark-primary);
    }

    .has-moderate-media-card-after-hero & {
        color: var(--theme-light-tertiary);
    }
}

[class*="novablocks-u-content"] {
    z-index: 10;
}
